.formula-container {
  display: flex;
  padding: 8px;
  align-items: center;
  height: 3rem;
  background-color: #f2f2f2;
}

.formula-items {
  margin: 0 8px;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  font-size: 20px;
}

.formula-active-cell {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formula-group {
  flex: 1;
  display: flex;
  align-items: center;
}

.fx {
  margin: 0 4px;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formula-input {
  margin: 0 4px;
  border: 1px solid black;
  border-radius: 2px;
  flex: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
