.grid-cell {
  flex: 1;
  text-align: center;
  border:none;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding: 4px;
  height: 30px;
  width: 150px;
  outline: none;
  overflow-x: scroll;
}